<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses List</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1>Courses List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
    </tr>
    </tbody>
</table>
<a href="/professors" th:text="'Back to Professors'"></a>
</body>
</html>